@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kufam&family=Lateef:wght@200;300;400&display=swap');

:root {
  --darkblue:#184E77;
  --black:#111;
  --white:#fff;
  --lightgreen : #D9ED92; 
  --light-bg:#eee;
  --bluen : #168AAD;
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  --border:.1rem solid rgba(0,0,0,.3);
}

* {
    /* font-family: 'Poppins', sans-serif;*/
     font-family: 'Kufam', sans-serif;
     margin: 0;
     padding: 0;
     -webkit-box-sizing: border-box;
             box-sizing: border-box;
     outline: none;
     border: none;
     text-decoration: none;
   }

   html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
  }
  
  html::-webkit-scrollbar {
    width: 1rem;
  }
  
  html::-webkit-scrollbar-track {
    background: transparent;
  }
  
  html::-webkit-scrollbar-thumb {
    background: var(--darkblue);
  }

  

  section {
    padding: 5rem 10%;
  }
  
  .heading {
    margin-bottom: 3rem;
    font-size: 3rem;
    color: var(--black);
    text-transform: capitalize;
    padding-right: .1rem;
    border-right: 1rem solid var(--darkblue);
    text-align: right;
  }
  
  
  .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--black);
    color: var(--white);
    cursor: pointer;
    font-size: 1.7rem;
    text-transform: capitalize;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  
  .btn:hover {
    background: var(--lightgreen);
    color: var(--black);
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      top: 50%;
      opacity: 0;
    }
  }
  
  @keyframes fadeIn {
    0% {
      top: 50%;
      opacity: 0;
    }
  }
  
  .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    padding: 1.5rem 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 1000;
    background: var(--white);
  }
  
  .header .logo {
    font-size: 2.5rem;
    color: var(--text-color, #52B69A);
    text-transform: capitalize;
  }
  
  .logo{
    position:relative;
    left: 1100px;
    top:2px
  }
  
  .header .logo span {
    color: var(--text-color, #52B69A);
  }
  
  .header .navbar a {
    font-size: 2rem;
    color: var(--black);
    text-transform: capitalize;
    margin: 0 1rem; 
  }
  
  
  
  .header .navbar a:hover {
    color: var(--bluen);
  }
  
  .header .icons div {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: var(--black);
    cursor: pointer;
    text-align: center;
    margin-left: .3rem;
  }
  
  .icons div{
    position:relative;
    right: 1100px;
    top:2px
  }
  
  .header .icons div:hover {
    background: var(--black);
    color: var(--white);
  }
  
  .header #menu-btn {
    display: none;
  }


.container{
    margin-top:80px;
    max-width: 600px;
    padding:10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-left: auto;
    margin-right: auto;
}

body{
  padding:50px;
}

.register {
    background: var(--white);
  }

.form-group{
    margin-bottom:30px;
   
}

.log-in , .registeration{
    font-size: 1.6rem;
    text-align: center;
   
}


.form-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 159px;
}



  .register  form .form-group{
    margin: .7rem 0;
    width: 100%;
    padding: 1.5rem 0;
    border: var(--border);
    font-size: 1.6rem;
    color: var(--light-color);
    text-align: right;
    border-radius: 35px;
  }

  .heading1 {
    margin-bottom: 3rem;
    font-size: 3rem;
    color: var(--black);
    padding-right: .1rem;
    text-align: center;
  }


.footer {
    text-align: center;
  }
  
  
  @media (max-width: 1200px) {
    .header {
      padding: 1.5rem 2rem;
    }
    section {
      padding: 3rem 5%;
    }
  }
  
  @media (max-width: 991px) {
    html {
      font-size: 55%;
    }
    section {
      padding: 3rem 2rem;
    }
    .header #menu-btn {
      display: inline-block;
    }
    .header .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background: var(--white);
      border-top: var(--border);
      border-bottom: var(--border);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
              clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      -webkit-transition: .2s linear;
      transition: .2s linear;
    }
    .header .navbar.active {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .navbar a {
      display: block;
      margin: 2rem;
    }
  }
  
 /*error massege*/

 .required , .notvalid , .password , .email , .alert2 ,.success{
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.required , .notvalid , .password , .alert2 {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
}


.email {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('https://i.imgur.com/Z8q7ww7.png');
}

.success{
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('https://i.imgur.com/Q9BGTuy.png');
  }
