@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kufam&family=Lateef:wght@200;300;400&display=swap');
:root{
    --green:#76C893;
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition:all .3s cubic-bezier(.16,.8,.62,1.52);
    text-transform: capitalize;
    
}

*::selection{
    background:var(--red);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.3rem;
}

html::-webkit-scrollbar-track{
    background: #fff;
}

html::-webkit-scrollbar-thumb{
    background: var( --green);
}

body{
    background:#f9f9f9;
}



button{
    display: inline-block;
    margin-top: 1rem;
    padding:1rem 4rem;
    border-radius: 5rem;
    background:var(--red);
    color:#fff;
    overflow: hidden;
    position: relative;
    z-index: 0;
    font-size: 1.7rem;
    border: 1px solid #76C893;
}

button::before{
    content:'';
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background:#34A0A4;
    clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
    transition:.3s linear;
}

button:hover::before{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}


.heading{
    font-size: 3rem;
    color:#fff;
}


/* header ---------------------------------------------------------------------------------- */
header{
    width:100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left: 0;
    z-index: 1000;
    padding:0.1rem 7%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}


header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li{
    margin-left: 2.5rem;
}

header .navbar ul li a{
    color:#000;
    font-size: 2rem;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
    color: #76C893;
    border-bottom: .2rem solid #52B69A;
    padding:.7rem 0;
}

#menu{
    font-size: 3rem;
    color:#999;
    cursor: pointer;
    display: none;
}
/* header end ---------------------------------------------------------------------------------- */
/* reg code new ---------------------------------------------------------------------------------- */






h1 {
    font-weight: bold;
    margin: 0;
    font-size: 30px;
        font-style: italic;
    font-family: 'Kufam', sans-serif;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 20px 0 30px;
    font-size: 25px;

}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}
/*body {
    
    background: #f6f5f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    margin-top: 20px;
}*/
.container {
    background: linear-gradient(to right, #76C893, #52B69A) no-repeat 0 0 / cover;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
    position: relative;
    overflow: hidden;
    width: 1000px;
    max-width: 100%;
    min-height: 580px;
    margin: 130px auto;
 
}

.form-container form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding:  0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #76C893;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.form-container input {
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}





button.ghost {
    background: transparent;
    border-color: #fff;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: #52B69A;
    background: linear-gradient(to right, #76C893, #52B69A) no-repeat 0 0 / cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-right {
    right: 0;
    transform: translateY(0);
}

.overlay-left {
    transform: translateY(-20%);
}

/* Move signin to right */
.container.right-panel-active .sign-in-container {
    transform: translateY(100%);
}

/* Move overlay to left */
.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

/* Bring signup over signin */
.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

/* Move overlay back to right */
.container.right-panel-active .overlay {
    transform: translateX(50%);
}

/* Bring back the text to center */
.container.right-panel-active .overlay-left {
    transform: translateY(0);
}

/* Same effect for right */
.container.right-panel-active .overlay-right {
    transform: translateY(20%);
}




.icons {
	display: flex;
	width: 30px;
	height: 30px;
	letter-spacing: 15px;
	align-items: center;
}

/* reg code new ---------------------------------------------------------------------------------- */
/* footer ===================================================== */

/* footer ===================================================== */
.footer{
    min-height: auto;
    padding-top: 0;
    background:#184E77;
}



.footer .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex:1 1 25rem;
    margin:2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:#fff;
    padding-bottom: 2rem;
    font-weight: normal;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    color:#ccc;
    padding:1rem 0;
}

.footer .box-container .box p i{
    padding-right: 1rem;
    color: #76C893
}

.footer .box-container .box a{
    font-size: 1.5rem;
    color:#ccc;
    padding:1rem 0;
    display: block;
}

.footer .box-container .box a:hover{
    color: #76C893;
}

.footer .box-container .box .share{
    display: flex;
    flex-wrap: wrap;
    padding:1rem 0;
}

.footer .box-container .box .share a{
    height:4rem;
    width:4rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 5rem;
    border:.1rem solid #76C893;
    margin-right: 1rem;
}

.footer .box-container .box .share a:hover{
    background:#168AAD;
}

.footer .credit{
    padding:2rem 1rem;
    text-align: center;
    color:#fff;
    font-weight: normal;
    font-size: 2rem;
    border-top: .1rem solid #fff3;
}

.footer .credit a{
    color: #76C893;
}


.scroll-top{
    position: fixed;
    bottom:7.5rem; right:2rem;
    z-index: 100;
    display: none;
}

.scroll-top img{
    height: 7rem;
}

/* media queries--------------------------------------------------------  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

}
/* reponsive header --------------------------------------------------------------------*/

@media (max-width:768px){

    #menu{
        display: block;
    }

    header .navbar {
        position: fixed;
        top:10.5rem; left:-120%;
        height: 100%;
        width:100%;
        background:#eee;
        border-top: .2rem solid rgba(0,0,0,.1);
    }

    header .navbar ul {
        flex-flow: column;
        padding:2rem;
    }

    header .navbar ul li{
        text-align: center;
        width:100%;
        margin:1rem 0;
    }

    header .navbar ul li a{
        display: block;
        padding:1rem;
    }

    header .navbar ul li a.active,
    header .navbar ul li a:hover{
        padding:1rem;
        background: #76C893;
        color:#fff;
        border:none;
        border-radius: 5rem;
    }

    .fa-times{
        transform: rotate(180deg);
    }

    header .navbar.nav-toggle{
        left:0;
    }


}

@media (max-width:500px){

    html{
        font-size: 50%;
    }

}

