.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.error {
  margin-top: 30px; 
  color: red;
  text-align: center;
  font-weight: bold;
}


  h2 {
    color: #333;
    text-align: center;
    padding-bottom: 50px;

}

.logo1 {
    float: right;
    margin-right: 25px;
    width: 90px; /* Adjust the width as needed */
    margin-bottom: 20px;
}

.repHeader {
  display: flex;
  justify-content: space-between; /* Distribute space between ul elements */
}

.ulOne {
  margin-right: 50px; /* Adjust margins to reduce space between ul elements */
}

/* You can adjust margins for ulTwo or use padding/margins as needed */
.ulTwo {
  margin-left: 30px; /* Adjust margins to reduce space between ul elements */
}
ul {
  padding: 0; /* Remove default padding from the ul */
}

li {
  margin: 1px 0; /* Adjust margins to reduce space above and below each li */
  /* You can also adjust padding or line-height as needed */
  padding: 1px 0;
  /* line-height: 1; (if necessary, adjust line-height to reduce vertical space) */
}
.line {
  margin-top: 10px;
  margin-bottom:20px;
  border-bottom: 1px solid black; /* Creates a solid black line */
}
/* ---------------------------------------------------------------------- end header */

.firstRow {
    display: flex;
    justify-content: space-between;
}
.rowTwo {
    display: flex;
    justify-content: space-between;
}

table, td, th {
  text-align: center;
  border: 1px solid;
}
.table th {
  background-color: #76C893;
  color: white;
}

.table {
  width: 50%;
  border-collapse: collapse;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px; 
}
td.red {
    color: red;
}
td.blue {
    color: #0583d2;
}

/* Style for the label-select container */
.label-select-container {
    display: inline-block; /* Display label and select on the same line */
}

/* Style for the label */
.label {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-right: 10px; /* Add some spacing between label and select */
}

/* Style for the select element with an increased width */
.select {
    font-size: 16px;
    padding: 5px;
    width: 200px; /* Adjust the width as needed */
    margin-right: 10px; /* Add margin to the right to separate from the select */

}

/*--------------------------------------------------------------
# overide btn bootstarb ---> buttons
--------------------------------------------------------------*/

.ourBtn {
    color: #fff;
    background-color: #1A759F ;
    border-color: #1A759F ;

}
.ourBtn:hover {
  color: #fff;
  background: #168AAD;
 border-color: #168AAD ;
}

.button {
    background-color: #184E77;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

/* Data section */
.data-section {
    text-align: center;
    margin-top: 20px;
}

/* Data labels */
.data-label {
    font-size: 10px;
    color: #333;
    margin-bottom: 10px;
}

/* Data values */
.data-value {
    font-size: 10px;
    color: #333;
    margin-bottom: 20px;
}

/* Charts */

#temperatureChart {
    width: 60vh ;
    padding: 0 ;
    margin-right: 100px;
      
}

.chart {
    margin: 20px auto;
    max-width: 400px;
}

.chart-container{
   
justify-content: left;
}

/* Download button */
.download-button {
    text-align: center;
    margin-top: 20px;
}

/* Download button style */
.download-button button {
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.download-button button:hover {
    background-color: #0056b3;
}


.static-data {
    font-size: 18px;
    margin-bottom: 50px;
    text-align: center;
    margin-top: 33px;
    display: flex; 
    justify-content: space-between;

}


p {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.icon {
    font-size: 24px;
    vertical-align: middle;
    margin-right: 10px;
}

        /* Style for the averages */
        .averages {
            font-size: 18px;
            margin-top: 10px;
            text-align: center;
            display: flex; 
            justify-content: space-between;
            
        }

.dates{
    text-align: center;
    text-emphasis: bold;
}

.temp{
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    display: flex; 
    justify-content: center;
    justify-content: space-between;

}



.air{
    font-size: 18px;
    margin-top: 10px;
    margin-right: 8vh;
    text-align: right;  
}

.highlight {
    color: red; /* Set the color to red or any other color you prefer */
}

.chat_title{
    text-align: center;
}

.btn-primary.ourBtn a {
    color: white;
}

.pad {
  margin-right: 10px;
}
